* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone {
  width: 290px;
  height: 520px;
  background: black;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spkr {
  width: 100px;
  height: 10px;
  background: grey;
  border-radius: 25px;
}
.cam {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background: grey;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lens {
  width: 3px;
  height: 3px;
  background: #000;
  border-radius: 100px;
}
.screen {
  width: 240px;
  height: 420px;
  background: url('images.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-btn {
  width: 30px;
  height: 30px;
  font-size: 30px;
  transform: translate(-60px, -10px);
  background: transparent;
  color: white;
  border: none;
}
.home-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  /*border-color: #fff;*/
  background: #fff;
  border: none;
  transform: translateY(-3px);
}
.exp-btn {
  width: 30px;
  height: 30px;
  font-size: 30px;
  transform: translate(60px, -10px);
  background: transparent;
  color: white;
  border: none;
}
.sbar {
  height: 12px;
  background: rgba(172, 118, 171, 0.7);
  color: #fff;
  display: flex;
}
p {
  font-size: 9px;
  margin-right: 5px;
}
#gs {
  width: 200px;
  height: 30px;
  transform: translate(17px, 20px);
  border-radius: 15px;
  border: none;
}

.main-apps{
  display: flex;
  color: #fff;
  transform: translateY(330px);
  align-items: center;
  justify-content: center;
}

.call, .cont, .browse, .calc{
  display: grid;
  margin-left: 10px;
}

.phone-call{
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 8px;
}

.contacts{
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google{
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 8px;
  color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator{
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
